$darker:  #333333;
$dark:    #666666;
$light:   #B4B4B4;
$lighter: #FFFFFF;
$accent:  #FFCC00;





/* Viewports
-----------------------------------------------------------------------------*/

$vp-medium: 720px;
$vp-large: 1024px;
$vp-xlarge: 1400px;





/* Größen und Abstände
-----------------------------------------------------------------------------*/

$bfs: 1rem;



/* Entlang Renard */
/* R10 10, 12.5, 16, 20, 25, 31.5, 40, 50 */

$baseRatio: 5;
$xxs: $bfs * ((6/2) / $baseRatio);
$xs: $bfs * ((10/2) / $baseRatio);
$s: $bfs * ((12.5/2) / $baseRatio);
$m: $bfs * ((16/2) / $baseRatio);
$l: $bfs * ((20/2) / $baseRatio);
$xl: $bfs * ((25/2) / $baseRatio);
$xxl: $bfs * ((31.5/2) / $baseRatio);





/* Schriftarten
-----------------------------------------------------------------------------*/

@font-face {
  font-family: 'IBMPlexSansLight';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf');
}
$ff-light: "IBMPlexSansLight";

@font-face {
  font-family: 'IBMPlexSansMedium';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans.ttf');
}
$ff-medium: "IBMPlexSansLight";

@font-face {
  font-family: 'IBMPlexSansBold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf');
}
$ff-bold: "IBMPlexSansBold";

@font-face {
  font-family: 'IBMPlexMono';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/IBM_Plex_Mono/IBMPlexMono-Medium.ttf');
}
$ff-monotype: "IBMPlexMono";





/* Misc
-----------------------------------------------------------------------------*/

$border-radius: $xs;
