h1, h2, h3, p, code, pre{
  margin-bottom: $m;
}

h4{
  margin-bottom: $s;
}

td p, th p{
  margin-bottom: 0;
}

h1, h2, h3, h4{
  font-weight: 100;
  color: $lighter;
}

p, table, figcaption, dt, dl, dd, li{
  line-height: 140%;
  font-size: $s;
}

h1{
  font-size: $xl;
  transition: .5s;

  @media only screen and (min-width: $vp-medium) {
    font-size: $xl;
  }
}

h2{
  font-size: $l;
}

h3{
  font-size: $m;
}

h4{
  font-size: $s;
}

strong{
  color: $lighter;
}

a{
  text-decoration: none;
}
