.page{
  @media only screen and (min-width: $vp-xlarge) {
    width: $vp-xlarge;
    margin: 0 auto;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $m;
  grid-row-gap: $m;

  @media only screen and (min-width: $vp-medium) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (min-width: $vp-large) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media only screen and (min-width: $vp-xlarge) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-container-zweispalter{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: $m;
  grid-row-gap: $m;

  @media only screen and (min-width: $vp-medium) {
    grid-template-columns: 1fr 1fr;
  }

}

.grid-item{
  display: contents;
}

