.table{
  background-color: transparent;
  table-layout: fixed;
  thead th{
    color: $lighter;
  }
  td, th{
    color: $lighter;
    border-color: $dark;
  }

  td{
    color: $light;
  }

  th{
    padding-left: 0;
  }
}

.title, .subtitle{
  color: $lighter;
  font-weight: 100;
}
