.m-card-image-with-caption{

  border-radius: $border-radius;
  overflow: hidden;
  background-color: #000;
  display: flex;
  position: relative;
  @extend .image;
  @extend .is-square;

  > img{
    object-fit: cover;

  }

  > figcaption{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: $m;
    padding-top: $xl;
    padding-bottom: $xs;
  }
}
